@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@font-face {
    font-family: "Avenir";
    src: url('fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
         url('fonts/avenirltstd-roman-webfont.woff') format('woff');
}

:root {
    /* Colors */
    --clr-heading: #5674B8;
    --clr-body: #111a34;
    --clr-btn: #fff;
    --clr-err: #D93025;
    --bg-main: #fff;
    --bg-inp: #EFF2FD;
    --bg-btn: #308799;

    /* Spacing */
    --width-sidebar: 38%;
    --width-container: 85%;
    --padding-block: 4rem;
    --padding-inline: calc( (100% - var(--width-container)) / 2 );

    /* Styles */
    --rds-inp: 0.4em;
    --drop-shadow: 0.2rem 0.3rem 0.5rem rgba(17,26,52,0.5);
}


/* || Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button,
input {
    font: inherit;
    color: currentColor;
}

/* || General Styles */
body {
    color: var(--clr-body);
    font-family: 'Avenir', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    color: var(--clr-heading);
    font-family: 'Gochi Hand', sans-serif;
    font-size: 4rem;
    letter-spacing: .2rem;
    line-height: 1.2;
    text-align: center;
}

a {
    color: var(--clr-heading);
}

a:hover {
    filter: brightness(1.3);
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.container {
    margin: 0 auto;
}

.icon::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
}


/* || Sidebar */
.sidebar {
    background-image: url('images/wallpaper.png');
    background-size: cover;
    min-height: 25vh;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    width: 4rem;
    margin: var(--padding-block) var(--padding-inline) 0;
    box-shadow: var(--drop-shadow);
}

.sidebar__info {
    background-image: linear-gradient(to bottom, transparent, var(--clr-body));
    color: white;
    padding: var(--padding-block) var(--padding-inline);
    text-shadow: var(--drop-shadow);
}

.sidebar__info p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar__info p + p {
    margin-top: 0.5em;
}

.sidebar__info a {
    color: white;
}


/* || Sign-Up Panel */
.join-panel {
    background-color: var(--bg-main);
    padding: var(--padding-block) 0;
}

.join-panel__container {
    width: var(--width-container);
}

.join-panel__container > p {
    text-align: center;
}

.form-control,
.join-panel__terms {
    margin-top: 2.4rem;
}

.form-control input:focus {
    box-shadow: 0 0 0 0.2rem var(--clr-heading);
    outline: none;
}

/* User-entered Inputs */
.input-control > * {
    display: block;
    width: 100%;
}

.input-control label {
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.input-control input {
    background-color: var(--bg-inp);
    border: none;
    border-radius: var(--rds-inp);
    padding: 1em;
}

.input-control span:not(.error-msg) {
    filter: contrast(20%);
    font-weight: normal;
}

/* -- Invalid State */
.input-control .error-msg {
    margin-top: 0.8rem;
    display: none;
}

.input-control .error-msg::before {
    content: "\f06a";
    margin-right: 0.5em;
}

.input-control input:not(:focus):invalid {
    box-shadow: 0 0 0 0.2rem var(--clr-err);
    outline: none;
}

.input-control input:not(:focus):invalid + .error-msg {
    color: var(--clr-err);
    display: block;
}

/* Checkboxes */
.checkbox-control {
    display: grid;
    grid-template-columns: 1.3em auto;
    gap: 0.5em;
}

.checkbox-control input[type="checkbox"] {
    appearance: none;
    background-color: var(--bg-inp);
    border-radius: calc(var(--rds-inp) - 0.2em);
    height: 1.3em;
    width: 1.3em;
    display: grid;
    place-content: center;
    padding: 0.2em;
}

/* -- Checked State */
.checkbox-control input[type="checkbox"]::before {
    content: "\f00c";
    visibility: hidden;
}

.checkbox-control input[type="checkbox"]:checked::before {
    visibility: visible;
}

/* Buttons */
.btn-group button {
    background-color: var(--bg-btn);
    border: none;
    border-radius: var(--rds-inp);
    color: var(--clr-btn);
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1em 1.6em;
    transition: filter 0.15s ease;
    width: 100%;
}

.btn-group button:hover {
    filter: brightness(1.2);
}

.btn-group button:active {
    filter: brightness(1);
}


/* || Mobile Medium */
@media screen and (min-width: 400px) {
    h1 {
        font-size: 4.8rem;
    }

    .join-form .row {
        display: flex;
        gap: 1.6rem;
    }
    
    .join-form .col {
        flex: 1;
    }
}


/* || Tablet */
@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
    }

    /* Sidebar */
    .sidebar {
        position: fixed;
        height: 100%;
        width: var(--width-sidebar);
        z-index: 1;
    }

    .logo {
        margin: calc(var(--padding-block) + 1.6rem) calc(var(--padding-inline) + 4%) 0;
    }

    .sidebar__info {
        padding: calc(var(--padding-block) + 1.6rem) calc(var(--padding-inline) + 4%);
    }


    /* || Sign-Up Panel */
    .join-panel {
        width: calc(100% - var(--width-sidebar));
        margin-left: var(--width-sidebar);
        padding: calc(var(--padding-block) + 2rem) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .join-panel__container {
        width: min(50rem, calc(var(--width-container) - 5%) );
    }

    .join-panel__container > p {
        text-align: left;
    }

    .btn-group button {
        width: auto;
    }
}


/* || Laptop */
@media screen and (min-width: 1000px) {
    .join-panel {
        padding: calc(var(--padding-block) + 4rem) 0;
    }
}
