@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@font-face {
    font-family: "Avenir";
    src: url('fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
         url('fonts/avenirltstd-roman-webfont.woff') format('woff');
}

:root {
    --clr-heading: #5674B8;
    --clr-body: #111A34;
    --clr-btn: #fff;
    --clr-error: #D93025;
    --bg-main: #fff;
    --bg-btn: #308799;
    --bg-input: #EFF2FD;

    --block-padding: 4rem;
    --border-radius-input: 0.4em;
}


/* || Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: currentColor;
}


/* || General Styles */
body {
    color: var(--clr-body);
    font-family: 'Avenir', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    color: var(--clr-heading);
    font-family: 'Gochi Hand', sans-serif;
    font-size: 4rem;
    letter-spacing: .2rem;
    line-height: 1.2;
}

a {
    color: var(--clr-heading);
}

a:hover {
    filter: brightness(1.2);
}

.container {
    margin: 0 auto;
    width: 85%;
}

.icon::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
}


/* || Sidebar */
.sidebar {
    background-image: url('images/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 25vh;
    padding: var(--block-padding) 0;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
}

.logo {
    width: 4rem;
}

.sidebar__info {
    color: white;
}

.sidebar__info p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
}


/* || Sign-Up Panel */
.signup-panel {
    background-color: var(--bg-main);
    padding: var(--block-padding) 0;
}

.form-control,
.signup-panel__terms {
    margin-top: 2.4rem;
}

.form-control input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--clr-heading);
}

.input-group > * {
    display: block;
    width: 100%;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.input-group input {
    padding: 1em;
    background-color: var(--bg-input);
    border-radius: var(--border-radius-input);
    border: none;
}

.input-group span:not(.error-msg) {
    filter: contrast(20%);
    font-weight: normal;
}

.input-group .error-msg {
    margin-top: 0.8rem;
    display: none;
}

.input-group .error-msg::before {
    content: "\f06a";
    margin-right: 0.5em;
}

.input-group input:not(:focus):invalid {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--clr-error);
}

.input-group input:not(:focus):invalid + .error-msg {
    color: var(--clr-error);
    display: block;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1.3em auto;
    gap: 0.5em;
}

.checkbox-group input[type="checkbox"] {
    appearance: none;
    background-color: var(--bg-input);
    width: 1.3em;
    height: 1.3em;
    border-radius: calc(var(--border-radius-input) - 0.2em);
    display: grid;
    place-content: center;
    padding: 0.2em;
}

.checkbox-group input[type="checkbox"]::before {
    content: "\f00c";
    visibility: hidden;
}

.checkbox-group input[type="checkbox"]:checked::before {
    visibility: visible;
}

.signup-form__btn {
    background-color: var(--bg-btn);
    border: none;
    border-radius: var(--border-radius-input);
    color: var(--clr-btn);
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 1em 1.6em;
    transition: filter 0.15s ease;
    width: 100%;
}

.signup-form__btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
}


@media screen and (min-width: 400px) {
    h1 {
        font-size: 4.8rem;
    }

    .signup-form .row {
        display: flex;
        gap: 1.6rem;
    }
    
    .signup-form .col {
        flex: 1;
    }
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
    }

    .container {
        width: 80%;
    }

    .sidebar.col {
        flex: 1;
    }

    .sidebar__container {
        min-height: calc(100vh - (var(--block-padding) + 2rem)*2);
    }

    .signup-panel.col {
        flex: 1.6;
    }

    .sidebar,
    .signup-panel {
        padding: calc(var(--block-padding) + 2rem) 0;
    }

    .signup-panel__container {
        width: min(50rem, 80%);
    }

    .signup-panel.row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-form__btn {
        width: auto;
    }
}

@media screen and (min-width: 1000px) {
    .signup-panel {
        padding: calc(var(--block-padding) + 4rem) 0;
    }
}
